<h3>マイページ</h3>

<h3>登録情報</h3>

<%= link_to '編集する', customers_mypage_edit_path %>

<table class="table table-hover table-inverse">
  <table>
    <tr>
     <th>氏名</th> <th><%= @customer.last_name %> </th>
    </tr>
    <tr>
     <th>カナ</th> <th><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></th>
    </tr>
    <tr>
     <th>郵便番号</th> <th><%= @customer.postal_code %></th>
    </tr>
    <tr>
     <th>住所</th> <th><%= @customer.address %></th>
    </tr>
    <tr>
     <th>電話番号</th> <th><%= @customer.telephone_number %></th>
    </tr>
    <tr>
     <th>メールアドレス</th> <th><%= @customer.email %></th>
    </tr>
  </table>

  <th>配送先</th> <th><%= link_to '一覧を見る', addresses_path %></th>