<h1>商品編集</h1>
<%= form_with model: @item,url: admin_item_path(@item.id), method: :patch do |f| %>

<table>
 <tr>
  <h6>商品画像</h6>
  <%= f.file_field :image, placeholder: "商品画像", accept: "image/*" %>
  </td>
 </tr>

 <tr>
  <td>商品名</td> <th><%= f.text_field :name %></th>
 </tr>

 <tr>
  <td>商品説明</td> <th><%= f.text_field :introduction %></th>
 </tr>

 <tr>
  <td>ジャンル</td> <th><%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: '選択して下さい'} %></th>
 </tr>

 <tr>
  <td>税込価格（税抜価格）</td> <th><%= f.text_field :price %>円</th>
 </tr>

 <tr>
  <td>
  販売ステータス
  <%= f.radio_button :is_active, true %>
  販売中
  <%= f.radio_button :is_active, false %>
  販売停止中
  </td>
 </tr>
</table>

 <%= f.submit '変更を保存' %>

<% end %>