<h2>商品一覧</h2>

 <table class="table table-hover table-inverse">
  <thead>
   <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
    <th colspan="5"></th>
   </tr>
  </thead>
  <tbody>
   <% @items.each do |item| %>
   <tr>
    <td>
     <%= link_to admin_item_path(item.id) do %>
     <%= image_tag item.get_image(100,100) %>
     <% end %>
    </td>
    <td>
     <%= link_to item.name, admin_item_path(item.id) %>
    </td>
    <td>
     <%= item.price %>
    </td>
    <td>
     <%= item.genre.name %>
    </td>
    <td>
     <% if item.is_active %>
      販売中
     <% else %>
      販売停止中
     <% end %>
    </td>
   </tr>
  <% end %>
  </tbody>

   <%= link_to "＋商品新規登録", new_admin_item_path %>
