<h4>配送先編集</h4>

<%= form_with model: @address,url: address_path, method: :patch do |f| %>

<table>
 <tr>
  <th>郵便番号（ハイフンなし）</th> <th><%= f.text_field :postal_code %></th>
 </tr>

 <tr>
  <th>住所</th> <th><%= f.text_area :delivery_address %></th>
 </tr>

 <tr>
  <th>宛名</th> <th><%= f.text_area :name %></th>
 </tr>
</table>

<%= f.submit '変更内容を保存' %>

<% end %>