<div class="container">
 <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">

</br>


<h5>注文情報確認</h5>
<p>Find me in app/views/public/orders/check.html.erb</p>

<%= form_with model: @order,url: orders_complete_path do |f| %>

<table>
  <thead>
   <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
    <th colspan="5"></th>
   </tr>
  </thead>
  <tbody>
   <% @cart_items.each do |cart_item| %>
   <tr>
    <td>
     <%= image_tag cart_item.item.get_image(100,100) %><%= cart_item.item.name %>
    </td>

    <td>
     <%= cart_item.item.add_tax_price.to_s(:delimited) %>
    </td>

    <td>
     <%= cart_item.amount %>
    </td>

    <td>
     <%= cart_item.sum_of_price %>
    </td>
   </tr>
  <% end %>
  </tbody>
 </table>



 <P>送料</P>
 <P>商品合計</P>
 <P>請求金額</P>

 <P>支払い方法</P>
  <%= @order.payment_options %>
 <P>お届け先</P>
  <%= @order.postal_code %>
  <%= @order.address %>
  <%= @order.name %>

<% end %>

 </div>
</div>