<div class="container">
 <div class="mx-auto col-8 col-sm-10">

</br>

<h5>注文情報入力</h5>
<p>Find me in app/views/public/orders/new.html.erb</p>

<h5>支払い方法</h5>

<%= form_with model: @order, url: orders_check_path do |f| %>
 <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
 クレジットカード
 <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
 銀行振込

</br>
<h5>お届け先</h5>

 <%= f.radio_button :address_options, 0 %>
  ご自身の住所
  <p>〒<%= @customer.postal_code %> <%= @customer.address %>
  </br>
  <%= @customer.last_name %><%= @customer.first_name %></p>

 <%= f.radio_button :address_options, 1 %>
  登録済住所から選択
  </br>
  <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :address_display) %>

  </br>
  <%= f.radio_button :address_options, 2 %>
   新しいお届け先
   <table>
    <tr>
     <th>郵便番号（ハイフンなし）</th> <th><%= f.text_field :postal_code %></th>
    </tr>

    <tr>
     <th>住所</th> <th><%= f.text_area :address %></th>
    </tr>

    <tr>
     <th>宛名</th> <th><%= f.text_area :name %></th>
    </tr>
   </table>

   <%= f.submit '確認画面へ進む' %>


<% end %>

 </div>
</div>