<h4>注文履歴詳細</h4>
<p>Find me in app/views/public/orders/show.html.erb</p>

<table>
 <tr>
  <th>注文情報</th> <th></th>
 </tr>
 <tr>
  <th>注文日</th> <th><%= @order.updated_at %></th>
 </tr>
 <tr>
  <th>配送先</th> <th> <%= @order.postal_code %> <%= @order.address %><%= @order.name %></th>
 </tr>
 <tr>
  <th>支払方法</th> <th> <%= @order.payment_method_i18n %></th>
 </tr>
 <tr>
  <th>ステータス</th> <th><%= @order.order_status %></th>
 </tr>
</table>

<% @order.order_items.each do |order_item| %>
 <% @total += order_item.sum_of_price %>
<% end %>

</br>
<table>
 <tr>
  <th>請求情報</th> <th></th>
 </tr>
 <tr>
  <th>商品合計</th> <th><%= @total %></th>
 </tr>
 <tr>
  <th>配送料</th> <th> <%= 800 %></th>
 </tr>
 <tr>
  <th>ご請求額</th> <th><%= @total+800 %></th>
 </tr>
</table>
</br>

<p>注文内容</p>
<table>
  <thead>
   <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>個数</th>
    <th>小計</th>
    <th></th>
    <th colspan="4"></th>
   </tr>
  </thead>
  <tbody>
   <% @order.order_items.each do |order_item| %>
   <tr>
    <td>
     <%= order_item.item.name %>
    </td>

    <td>
     <%= order_item.item.add_tax_price.to_s(:delimited) %>
    </td>

    <td>
     <%= order_item.amount %>
    </td>

    <td>
     <%= order_item.sum_of_price %>
    </td>
   </tr>
  </tbody>
  <% end %>