<%= form_with model: @item,url: cart_items_path, method: :get do |f| %>

 <div class="row">
  <div class="col-md-2">
   <p><%= image_tag @item.get_image(100,100) %></p>
  </div>

 <div class="col-md-5">
  <p><%= @item.name %></p>

  <p><%= @item.introduction %></p>

  <p>¥<%= @item.price %></p>

  <%= f.hidden_field :item_id, :value => @item.id %>

  <%= f.select :amount, *[1..10] %>

  <%= f.submit "カートに入れる" %>

  <% end %>
 </div>
</div>